@page "/editcontract/{contractId:int}"
@using ContractManagement.Model.Entities
@inherits ContractManagement.UI.ProtectedPageBase
@inject HttpClient Http
@inject NavigationManager Nav
@inject ContractManagement.UI.Services.AuthService AuthService
@rendermode InteractiveServer
@if (contract == null)
{
    <p>@message</p>
}
else
{

    <MudForm Model="@contract">
        <MudGrid>

            <!-- User Info -->
            <MudItem xs="12" md="6">
                <MudTextField T="string"
                              Label="First Name"
                              @bind-Value="contract.contract.User.FirstName"
                              Immediate="true"
                              Required="true" />
            </MudItem>

            <MudItem xs="12" md="6">
                <MudTextField T="string"
                              Label="Last Name"
                              @bind-Value="contract.contract.User.LastName"
                              Immediate="true"
                              Required="true" />
            </MudItem>

            <!-- Position / Role -->
            <MudItem xs="12" md="6">
                <MudTextField T="string"
                              Label="Position / Role"
                              @bind-Value="contract.contract.Position"
                              Immediate="true"
                              Required="true" />
            </MudItem>

            <!-- Description -->
            <MudItem xs="12">
                <MudTextField T="string"
                              Label="Description"
                              Lines="4"
                              TextArea="true"
                              @bind-Value="contract.contract.Description"
                              Immediate="true"
                              Required="true" />
            </MudItem>

            <!-- Dates -->
            <MudItem xs="12" md="6">
                <MudDatePicker Label="Start Date"
                               PickerVariant="PickerVariant.Dialog"
                               Disabled="!contract.hasAdminAccess"
                               @bind-Date="contract.contract.StartDate"
                               Required="true"
                               DateFormat="yyyy-MM-dd" />
            </MudItem>

            <MudItem xs="12" md="6">
                <MudDatePicker 
                               Label="End Date"
                               PickerVariant="PickerVariant.Dialog"
                               Disabled="!contract.hasAdminAccess"
                               @bind-Date="contract.contract.EndDate"
                               MinDate="contract.contract.StartDate"
                               Required="true"
                               DateFormat="yyyy-MM-dd" />
            </MudItem>

            <!-- Wage -->
            <MudItem xs="12" md="2">
                <MudNumericField T="decimal"
                                 Label="Wage (USD)"
                                 @bind-Value="contract.contract.Wage"
                                 Min="100"
                                 Step="100"
                                 Disabled="!contract.hasAdminAccess"
                                 Immediate="true"
                                 Required="true" />
            </MudItem>
        </MudGrid>
        <MudButton OnClick="UpdateContractAsync"
            Variant="Variant.Filled"
                   Color="Color.Primary"
                   FullWidth="true"
                   Disabled="@((contract.contract.Position == oldVersion.contract.Position
                                                                                  && contract.contract.Description == oldVersion.contract.Description
                                                                                  && contract.contract.StartDate == oldVersion.contract.StartDate
                                                                                  && contract.contract.EndDate == oldVersion.contract.EndDate
                                                                                  && contract.contract.Wage == oldVersion.contract.Wage
                                                                                  && contract.contract.User.FirstName == oldVersion.contract.User.FirstName
                                                                                  && contract.contract.User.LastName == oldVersion.contract.User.LastName))"
               ButtonType="ButtonType.Submit">
        Update Contract
    </MudButton>
    </MudForm>


}
@code {
    [Parameter]
    public int ContractId { get; set; }
    private string message = "Loading contract...";
    private EditContractDto contract;
    private EditContractDto oldVersion;
    private bool firstRender = true;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        firstRender = false;
        var jwt = await AuthService.GetTokenAsync();
        if (string.IsNullOrEmpty(jwt))
        {
            Nav.NavigateTo("/", forceLoad: true);
            return;
        }

        // Add Authorization header
        Http.DefaultRequestHeaders.Authorization =
            new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", jwt);

        // POST to RESTful endpoint
        var response = await Http.GetAsync($"/api/contracts/{ContractId}");
        if (response.StatusCode == System.Net.HttpStatusCode.Forbidden)
        {
            message = "Access denied";
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            Nav.NavigateTo("/login", true);
        }
        else if (response.IsSuccessStatusCode)
        {
            contract = await response.Content.ReadFromJsonAsync<EditContractDto>();

            oldVersion = new EditContractDto
            {
                contract = new ContractDto
                {
                    Position = contract.contract.Position,
                    Description = contract.contract.Description,
                    StartDate = contract.contract.StartDate,
                    EndDate = contract.contract.EndDate,
                    Wage = contract.contract.Wage,
                    User = new UserDto
                    {
                        FirstName = contract.contract.User.FirstName,
                        LastName = contract.contract.User.LastName
                    },
                },
                hasAdminAccess = contract.hasAdminAccess
            };
        }
        StateHasChanged();
    }
    protected async Task UpdateContractAsync()
    {
        var jwt = await AuthService.GetTokenAsync();
        if (string.IsNullOrEmpty(jwt))
        {
            Nav.NavigateTo("/", forceLoad: true);
            return;
        }

        // Add Authorization header
        Http.DefaultRequestHeaders.Authorization =
            new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", jwt);

        // POST to RESTful endpoint
        var status = await Http.PatchAsJsonAsync<EditContractDto>($"/api/contracts/{ContractId}", contract);
        if (status.IsSuccessStatusCode)
        {
            Nav.NavigateTo("/myCompany");
        }
        else
        {
            Console.WriteLine("error");
            // some message
        }
    }
}
