@inherits LayoutComponentBase
@inject IJSRuntime JS

<div class="page">
    <div class="wrapper">
        @Body
    </div>
</div>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }

    html, body {
        display: grid;
        height: 100%;
        width: 100%;
        place-items: center;
        background: #282a36;
    }

    .wrapper {
        width: 400px;
        padding: 40px;
        background: #1e1f2f;
        border-radius: 10px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.3);
        color: #fff;
    }
</style>